.header {
    --header-height: clamp(122px, calc(172 / 1440 * 100vw), 172px);

    --decor-top-width: clamp(430px, calc(689 / 1440 * 100vw), 689px);
    --decor-top-left: clamp(-59px, calc(-59 / 1440 * 100vw), -26px);
    --decor-top-top: clamp(-84px, calc(-84 / 1440 * 100vw), -48px);

    --logo-size: clamp(96px, calc(138 / 1440 * 100vw), 138px);

    --logo-left: clamp(190px, calc(355 / 1440 * 100vw), 355px);
    --content-left: clamp(390px, calc(579 / 1440 * 100vw), 579px);

    position: relative;
    min-height: var(--header-height);
    isolation: isolate;
}

.header::before,
.header::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.header::before {
    top: var(--decor-top-top);
    left: var(--decor-top-left);
    z-index: -2;
    width: var(--decor-top-width);
    aspect-ratio: 689 / 482.087;
    background: url("../img/decor-top.svg") 0 0 / contain no-repeat;
}

.header::after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: var(--header-height);
    background-color: rgba(255, 255, 255, 0.67);
    box-shadow: var(--inner-shadow), var(--drop-shadow);
}

.header__inner {
    position: relative;
    padding-block: clamp(10px, calc(17 / 1440 * 100vw), 17px);
    width: 100%;
    min-height: inherit;
}

.header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--logo-left);
    width: var(--logo-size);
    height: var(--logo-size);
    z-index: 1;
}

.header__content {
    position: absolute;
    top: 50%;
    left: var(--content-left);
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.header__profile {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, calc(15 / 1440 * 100vw), 15px);
}

.header__heading {
    display: flex;
    align-items: center;
    gap: clamp(13px, calc(17 / 1440 * 100vw), 17px);
}

.header__start {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: var(--border-2);
    border-radius: var(--border-radius-small);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: var(--color-accent);
}

.header__stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(18px, calc(28 / 1440 * 100vw), 22px);
    font-size: 14px;
}

.header__stats-value {
    font-weight: 700;
}

.header__stats-label {
    font-weight: 400;
}

.header__controls {
    display: flex;
    align-items: center;
}

.header__filter {
    display: flex;
    align-items: center;
    gap: clamp(14px, calc(24 / 1440 * 100vw), 24px);
}

.header__filter-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.header__filter-input {
    width: clamp(132px, calc(162 / 1440 * 100vw), 162px);
    height: var(--input-height);
    padding-inline: 8px;
    border: var(--border-3);
    border-radius: var(--border-radius-medium);
    font-size: 14px;
    color: var(--color-black);
    background-color: var(--color-light);
}

.header__filter-input:focus {
    border-color: var(--color-accent);
    outline: 0;
}

@media (min-width: 1441px) {
    .header__content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 767.98px) {
    .header {
        --header-height: 248px;

        --decor-top-width: clamp(350px, calc(430 / 390 * 100vw), 430px);
        --decor-top-left: clamp(-120px, calc(-86 / 390 * 100vw), -86px);
        --decor-top-top: clamp(-72px, calc(-56 / 350 * 100vw), -56px);

        --logo-size: clamp(82px, calc(96 / 390 * 100vw), 96px);

        --logo-left: clamp(108px, calc(122 / 390 * 100vw), 122px);
        --content-left: var(--container-padding-x);
    }

    .header__logo {
        top: auto;
        transform: none;
    }

    .header__content {
        top: auto;
        transform: none;
        bottom: var(--container-padding-x);
    }

    .header__filter {
        flex-wrap: wrap;
        gap: 16px;
    }

    .header__filter-label {
        font-size: 14px;
    }
}
